.filter-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
  border-radius: 20px;
  padding: 0.5rem;
  margin: 0.5rem;
  color: #f05454;
  background: linear-gradient(145deg, #242b34, #1f242c);
  box-shadow: 5px 5px 10px #15181e, -5px -5px 10px #2f3844;
}

.filter-btn {
  height: 2rem;
  width: 7rem;
  margin: 0.5rem;
  border-radius: 5px;
  background: #dddddd;
  border: none;
}

.filter-btn:hover,
.filter-btn:focus {
  cursor: pointer;
  color: #dddddd;
  background-color: #f05454;
}
